services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - add
      - subtract
    networks:
      - app-network

  add:
    build:
      context: ./add
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - app-network

  subtract:
    build:
      context: ./subtract
      dockerfile: Dockerfile
    ports:
      - "9000:9000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
