.App {
  text-align: center;
  margin-top: 5rem;
  font-family: Arial, sans-serif;
}

.form-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 300px;
}

input {
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005fa3;
}

h2 span {
  color: green;
}

